@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Farro:wght@300;400;500;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}
::selection {
  background: #08d9d6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1199px) {
  .container {
    padding: 0 10px;
  }
}
/*===============
  Start header
=================*/
header {
  height: 600px;
  width: 100%;
  background-image: url("ssh1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.452);
}
header nav {
  position: relative;
  height: 70px;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
@media (min-width: 769px) {
  header nav.sticky {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: #08d9d6;
    transition: 1s;
  }
}
header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  font-size: 18px;
  transition: 0.3s;
  text-decoration: none;
  color: #f0f8ff;
}
header nav .logo h1 {
  height: 100%;
  transition: 0.3s;
}
header nav .logo:hover h1 {
  transform: scale(1.1);
}
header nav #toggle {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000001;
  position: absolute;
  right: 0px;
  cursor: pointer;
  margin-right: 1px;
}
header nav #toggle.isActive {
  background: #00000000;
  position: fixed;
  right: 0px;
  z-index: 100000;
}
@media (min-width: 769px) {
  header nav #toggle {
    display: none;
  }
}
header nav #toggle:hover {
  background: #00000000;
}
header nav #toggle::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: #fff;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
  transition: 0.5s;
}
header nav #toggle.isActive::before {
  box-shadow: none;
  transform: translateY(0) rotate(45deg);
}
header nav #toggle::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: #fff;
  transform: translateY(10px);
  transition: 0.3s;
}
header nav #toggle.isActive::after {
  transform: translateY(0) rotate(-45deg);
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  z-index: 100;
  transition: 0.3s;
}
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000000;
    position: fixed;
    width: calc(100% + 10px);
    height: 100vh;
    top: 0;
    left: -10px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(700px);
  }
  header nav ul.menuIsActive {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
  }
  header nav ul.menuIsActive li {
    margin: 20px 0;
  }
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  transition: 0.2s;
}
header nav ul li a:hover {
  background: #ffffff;
  color: #08d9d6;
}
header .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .text p {
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  font-family: "Bebas Neue", "cursive";
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
header .text p span {
  color: #ff2e63;
}
@media (max-width: 992px) {
  header .text p {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  header .text p {
    font-size: 36px;
  }
}
header .text .btn {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background: #08d9d6;
  border-radius: 5px;
  transition: 0.3s;
}
@media (max-width: 480px) {
  header .text .btn {
    font-size: 15px;
  }
}
header .text .btn:hover {
  background: #000000;
  color: #08d9d6;
}
/*===============
  End header
=================*/
/*===============
  start about
=================*/
.about article {
  padding: 60px 0;
  background: #f0f8ff;
}
.about article:first-of-type h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 30px;
  font-family: "Farro", sans-serif;
}
.about article:first-of-type h2 span {
  color: #ff2e63;
}
.about article:first-of-type .content {
  display: flex;
  flex-wrap: wrap;
}
.about article:first-of-type .content .text {
  font-size: 18px;
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  width: 50%;
  margin-right: 50px;
}
.about article:first-of-type .content .imgBox {
  transform: translateY(80px);
  border: 2px solid #fff;
  z-index: 5;
  width: calc(50% - 50px);
}
.about article:first-of-type .content .imgBox img {
  width: 100%;
}
@media (max-width: 1067px) {
  .about article:first-of-type .content .text {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .about article:first-of-type .content .imgBox {
    transform: translateY(0);
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .about article:first-of-type .content .imgBox {
    width: 95%;
  }
}
.about article:nth-of-type(2) {
  background-image: url("https://zen-ritchie-70b7e0.netlify.app/img/cta.jpg");
  position: relative;
  padding-top: 100px;
}
.about article:nth-of-type(2) h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-family: "Farro", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .about article:nth-of-type(2) h2 {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .about article:nth-of-type(2) h2 {
    font-size: 24px;
  }
}
.about article:nth-of-type(2) span {
  color: #ff2e63;
}
.about article:nth-of-type(2) p {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}
.about article:nth-of-type(2) .btn {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background: #08d9d6;
  border-radius: 5px;
  transition: 0.3s;
}
@media (max-width: 480px) {
  .about article:nth-of-type(2) .btn {
    font-size: 15px;
  }
}
.about article:nth-of-type(2) .btn:hover {
  background: #ffffff;
  color: #08d9d6;
}
/*===============
  End about
=================*/
/*===============
  Start programs
=================*/
#programs {
  padding: 60px 0;
}
#programs h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-family: "Farro", sans-serif;
}
#programs h2 span {
  color: #ff2e63;
}
#programs .contentBox {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
#programs .contentBox .content {
  text-align: center;
}
#programs .contentBox .content .imgBox {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #08d9d6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}
#programs .contentBox .content .imgBox img {
  width: 50%;
}
#programs .contentBox .content h3 {
  font-size: 26px;
  margin-bottom: 15px;
  font-family: "Farro", sans-serif;
}
#programs .contentBox .content p {
  line-height: 1.6;
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
/*===============
  End programs
=================*/
/*===============
  Start trainers
=================*/
#trainers {
  background: #f0f8ff;
}
#trainers .container {
  padding: 60px 0;
}
#trainers h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-family: "Farro", sans-serif;
}
#trainers h2 span {
  color: #ff2e63;
}
#trainers .contentBox {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}
#trainers .contentBox .box {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
#trainers .contentBox .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px #000000;
}
#trainers .contentBox .box .imgBox {
  width: 100%;
}
#trainers .contentBox .box .imgBox img {
  width: 100%;
}
#trainers .contentBox .box .content {
  padding: 20px 15px;
  text-align: left;
}
#trainers .contentBox .box .content h3 {
  color: #ff2e63;
  margin-bottom: 10px;
  font-family: "Farro", sans-serif;
}
#trainers .contentBox .box .content h4 {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Farro", sans-serif;
}
#trainers .contentBox .box .content p {
  line-height: 1.6;
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
#trainers .contentBox .box .content .social-icons {
  margin-top: 20px;
  text-align: center;
}
#trainers .contentBox .box .content .social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 5px;
}
#trainers .contentBox .box .content .social-icons a:nth-child(1) {
  background: #3b5999;
}
#trainers .contentBox .box .content .social-icons a:nth-child(1):hover {
  background: #476ab6;
}
#trainers .contentBox .box .content .social-icons a:nth-child(2) {
  background: #55acee;
}
#trainers .contentBox .box .content .social-icons a:nth-child(2):hover {
  background: #67b7f5;
}
#trainers .contentBox .box .content .social-icons a:nth-child(3) {
  background: #0077b5;
}
#trainers .contentBox .box .content .social-icons a:nth-child(3):hover {
  background: #0d96e0;
}
#trainers .contentBox .box .content .social-icons a:nth-child(4) {
  background: #e4405f;
}
#trainers .contentBox .box .content .social-icons a:nth-child(4):hover {
  background: #f5506e;
}
#trainers .contentBox .box .content .social-icons a i {
  font-size: 16px;
  color: #fff;
  transition: 0.4s;
}
#trainers .contentBox .box .content .social-icons a:hover i {
  transform: rotate(360deg);
}
/*===============
  End trainers
=================*/
/*===============
  Start contact
=================*/
#contact {
  padding: 60px 0;
}
#contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 910px) {
  #contact .container {
    grid-template-columns: repeat(1, 1fr);
  }
  #contact .contactBox {
    margin-bottom: 10px;
  }
}
#contact .contactBox {
  background: #acacaca7;
  padding: 20px;
  margin-right: 5px;
}
#contact .contactBox h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 32px;
  font-family: "Farro", sans-serif;
  font-weight: 400;
}
#contact .contactBox form {
  display: flex;
  flex-direction: column;
}
#contact .contactBox form .top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  #contact .contactBox form .top {
    flex-direction: column;
  }
  #contact .contactBox form .top input {
    flex-basis: 100%;
  }
}
#contact .contactBox form .top input {
  flex-basis: calc(50% - 5px);
}
#contact .contactBox form input,
#contact .contactBox form textarea {
  border: none;
  outline: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-family: "Farro", sans-serif;
  font-size: 13px;
}
#contact .contactBox form textarea {
  resize: none;
  height: 150px;
}
#contact .contactBox form input::placeholder,
#contact .contactBox form textarea::placeholder {
  color: #999;
}
#contact .contactBox .btn {
  outline: none;
  border: none;
  background: #252a34;
  padding: 12px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
#contact .contactBox .btn:hover {
  background: #ffffff;
  color: #000000;
}
#contact iframe {
  width: 100%;
}
/*===============
  End contact
=================*/
/*===============
  Start footer
=================*/
* {
  margin: 0;
  padding: 0;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: px;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background: linear-gradient(45deg,#000000,rgb(2, 0, 46));
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background: linear-gradient(45deg, rgb(0, 255, 234),rgb(255, 255, 255));
    color: #000000;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #ffffff;
    border-radius: 21px;
    color: #000000;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}


.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-copyright {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/*===============
  End footer
=================*/